.content {
  grid-area: content;
  background-color: rgba(240, 240, 240, 0.835);

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}

.content__dialogs {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;

  padding: 10px 0;
  background-color: cadetblue;
  color: azure;
}

.content__dialogs-title {
  padding: 20px;
}

.content__dialog {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: capitalize;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;

  transition: all 0.2s easy-in;
}

.content__dialog:hover {
  background-color: teal;
}

.content__dialog-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content__dialog-user {
  padding-left: 10px;
}
