.content {
  grid-area: content;
  background-color: rgba(240, 240, 240, 0.835);
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'image-wrapper image-wrapper'
    'avatar title'
    'post post';
  gap: 5px;
  padding-bottom: 50px;
}

.content__image-wrapper {
  grid-area: image-wrapper;
  width: 100%;
}

.content__image {
  width: 100%;
  height: 250px;
}

.content__title {
  grid-area: title;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__photo {
  grid-area: avatar;
  width: 100%;
  max-height: 250px;
}
