.content {
  grid-area: content;
  background-color: rgba(240, 240, 240, 0.835);
  display: grid;
  grid-template-rows: 250px 1fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'image-wrapper image-wrapper'
    'avatar title'
    'post post';
  gap: 5px;
}

.content__image-wrapper {
  grid-area: image-wrapper;
  width: 100%;
}

.content__image {
  width: 100%;
  height: 250px;
}

.content__title {
  grid-area: title;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__photo {
  grid-area: avatar;
  width: 100%;
  max-height: 250px;
}

.content__post {
  grid-area: post;
  display: flex;
  flex-direction: column;
}

.content__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
}

.content__post-title {
  width: 10%;
  align-self: center;
  padding-right: 2%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.content__post-input {
  width: 85%;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

.content__btn-public {
  width: 15%;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  background-color: teal;
  border: none;
  color: azure;
  transition: all 0.2s ease-in;
}

.content__btn-public:hover {
  background-color: rgb(3, 144, 144);
  transform: scale(1.05);
}

.content__my-post {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;

  border: 1px solid teal;

  margin-top: 10px;
  margin-right: 10px;
}
