* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'header header'
    'nav-bar content';
  gap: 5px;
}

.header {
  grid-area: header;
  background-color: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 80px;
  height: 80px;
  padding-left: 5px;
}

.header__title {
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color: azure;
}

.nav-bar {
  grid-area: nav-bar;
  background-color: teal;
}

.nav-bar__list {
  padding-top: 30px;
  padding-left: 10px;
}

.nav-bar__elem {
  padding-bottom: 15px;
}

.nav-bar__elem_setting {
  padding-top: 50px;
}

.nav-bar__link {
  color: azure;
  text-transform: uppercase;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}

.nav-bar__link:hover {
  background-color: azure;
  color: teal;
  padding: 5px;
  border-style: solid;
  border-color: teal;
  border-width: 1px;
}

.content {
  grid-area: content;
  background-color: tomato;
  display: grid;
  grid-template-rows: 250px 1fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'image-wrapper image-wrapper'
    'avatar title'
    'post post';
  gap: 5px;
}

.content__image-wrapper {
  grid-area: image-wrapper;
  width: 100%;
}

.content__image {
  width: 100%;
  height: 250px;
}

.content__title {
  grid-area: title;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__photo {
  grid-area: avatar;
  width: 100%;
  max-height: 250px;
}

.content__post {
  grid-area: post;
}

.content__post-title {
  padding-right: 5px;
}
